<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- Set URL -->
		<property name = "hibernate.connection.url">jdbc:postgresql://ec2-52-49-120-150.eu-west-1.compute.amazonaws.com:5432/d4ou235p6v7kki</property>

		<!-- Set User Name -->
		<property name = "hibernate.connection.username">jwfsopthafxjwj</property>

		<!-- Set Password -->
		<property name = "hibernate.connection.password">e667e4097bd06ea42fc95857fca795b1edf8354b4231606334af7922e071d1ab</property>

		<!-- Set Driver Name -->
		<property name = "hibernate.connection.driver_class">org.postgresql.Driver</property>

		<property name = "hibernate.show_sql">true</property>

	</session-factory>
</hibernate-configuration>
